.auth-container {
  min-height: 100%;
}
.auth-header {
  position: fixed;
  left: 100px;
  top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.auth-header > p {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.auth-logo {
  max-width: 100px;
  height: auto;
  cursor: pointer;
}

.auth-body {
  position: relative;
  top: 100px;
  height: calc(100%-100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12vh;
}
