.program-page-container {
  position: absolute;
  left: 150px;
  height: 100%;
  width: calc(100% - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(18, 18, 18);
  box-sizing: border-box;
  padding: 30px;
}
.page-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-container-header > input {
  font-size: 32px;
  font-weight: 600;
  margin-left: 10px;
  background: transparent;
  border: none;
  color: white;
  font-style: italic;
  height: 40px;
  width: fit-content;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.page-container-header > input:focus {
  outline: none;
  border-bottom: 2px solid teal;
}

.add-week-btn {
  color: #01dac5;
  background-color: rgb(18, 18, 18);
  border: none;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  top: 80px;
  right: 60px;
}

.add-week-btn:hover {
  cursor: pointer;
  color: #00a796;
  transition: 0.4s;
}
