.page-container-header {
  width: 100%;
  padding-left: 30px;
}

.program-block-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90%;
  /* z-index: 1; */
}

.program-block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 30px;
}
