.page-container-header {
  width: 100%;
}

.divider {
  position: absolute;
  top: 340px;
  left: 0px;
  width: 256px;
  height: 0px;
  border-width: 0.5px;
  border-color: rgb(230, 232, 235);
  border-style: solid;
  transform: rotate(0.22deg);
}
