.sidebar-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 100vh;
  border-radius: 0px;
  background: rgb(0, 0, 0);
  box-shadow: 0px 0px 1px #a4a8a8, 0px 0px 2px #515353;
}

.sidebar-logo-container {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar-logo-container > img {
  width: auto;
  max-height: 60px;
  margin-top: 5px;
}

.sidebar-menu {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 26px;
  opacity: 1;
  justify-content: space-around;
}

.tool-tip-cls {
  position: absolute;
  z-index: 1000;
}

.main {
  top: 106px;
  height: 40%;
}

.secondary {
  top: 350px;
}

.sidebar-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d5564ff;
  background: transparent;
  border-radius: 0px;
  gap: 5px;
  cursor: pointer;
  white-space: nowrap;
  /* margin-bottom: 20px; */
}

.sidebar-menu .sidebar-menu-item.selected {
  position: relative;
  font-weight: bold;
  color: #cc6013ff;
  background: #fbe4d3ff;
}

.sidebar-menu .sidebar-menu-item.selected:hover:active {
  color: #cc6013ff;
  background: #fbe4d3ff;
}

.sidebar-menu-item > span > i {
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
  bottom: 0;
}

.sidebar-footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  width: 100%;
  bottom: 15px;
}

.person-circle-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #03dac5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-footer > p {
  font-size: 12px;
  color: gray;
  line-height: 26px;
  text-align: center;
  opacity: 1;
}

.menu {
  position: absolute;
  bottom: 70px;
  right: 5px;
  background-color: rgb(63, 63, 63);
  padding: 7px;
  border-radius: 10px;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  height: 100px;
}

.menu > p {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.active {
  visibility: visible;
  opacity: 1;
}

.menu > ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0px 0px 0px 7px;
}

.menu > ul > li {
  display: block;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}
.menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 40px;
  height: 20px;
  width: 30px;
  background: rgb(63, 63, 63);
  transform: rotate(45deg);
  z-index: -10;
}

.blocks-nav-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(65, 65, 65);
  left: 10%;
  top: 45%;
  /* display: none; */
  color: #03dac5;
  border-radius: 5px;
  width: 90px;
  height: fit-content;
  padding-bottom: 10px;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.blocks-nav-container.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

.blocks-nav-container::before {
  content: "";
  bottom: 0;
  right: 10px;
  height: 20px;
  width: 30px;
  background: rgb(65, 65, 65);
  transform: rotate(45deg);
  z-index: -10;
}
