/* TODO Add site wide styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: rgb(255, 255, 255, 87%);
  background-color: rgb(18, 18, 18);
  /* min-height: 100vh; */
}

textarea,
.date-input {
  font-family: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
  text-emphasis: none;
}

svg {
  stroke: transparent;
  stroke-width: 0px;
}
