.splash-mac {
  height: auto;
  max-width: 1000px;
}

/* .splash-iphone {
  height: auto;
  max-width: 700px;
} */

.splash-body-container {
  position: relative;
  margin-top: 85px;
}

.splash-body-header {
  padding-top: 40px;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-body-header > h1 {
  font-size: 50px;
  line-height: 10px;
}

.get-started-btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.splash-getstarted-btn {
  height: 40px;
  background-color: transparent;
  color: white;
  font-weight: 800;
  font-size: 14px;
  border: 1px solid white;
  width: 160px;
  box-shadow: 1px 1px 1px rgb(195, 195, 195), -1px -1px 1px rgb(195, 195, 195);
  transition: 0.4s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.splash-getstarted-btn:hover {
  cursor: pointer;
  border: 1px solid #03dac5;
  color: #03dac5;
}

.splash-body-row-1 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.description-box-row-1 {
  width: 300px;
  padding-left: 15px;
}
.description-box-row-1 > h3:nth-child(1) {
  margin-top: 0;
}
.description-box-row-1 > h3 {
  margin-top: 40px;
  line-height: 5px;
}
.description-box-row-1 > p {
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  text-justify: auto;
}
