.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(57, 57, 57);
  width: 400px;
  height: 300px;
  border-radius: 12px;
}

.form-header {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-header > img {
  max-width: 100px;
  height: auto;
  margin-right: 15px;
}

.form-header-text > h1 {
  line-height: 15px;
}

.form-header-text > p {
  line-height: 15px;
  font-style: italic;
}

.errors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 60%;
  margin-bottom: 11px;
}

.input-container > label {
  align-self: flex-start;
  margin-left: 39px;
  font-size: 14px;
  margin-bottom: 3px;
  color: gray;
}

.form-input {
  width: 100%;
  padding: 10px;
  height: 25px;
}

.form-input:focus {
  outline: none !important;
  border: 1px solid #008786;
  box-shadow: 0 0 10px #005457;
}

.submitBtn {
  margin-top: 15px;
  height: 2.5rem;
  width: 30%;
  border-radius: 5px;
  background-color: #01dac5;
  border: 1px solid #01dac5;
  color: black;
  transition: 0.4s;
}
.createBlockBtn {
  margin: 0;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #25837a;
  border: 1px solid #25837a;
  color: white;
}
